.grip {
  background-image: url('../../../assets/img/wallpaperlogin.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
}


@media screen and (min-width: 1400px) {
  .grip {
    background-position: top;
  }
}
